 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<button type="button" onclick="myFunctionupdate(this)" class="btn announce" data-toggle="modal" data-target="#myModal" id="<%=id%>">
Edit
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Lead Status</h4>
      </div>
      <div class="modal-body">
      <%= form_tag(update_meetings_path, :method=>'post', :multipart => true) do %>
            <table class="table">
              <tr>
                 <td>
                   Date:
                 </td>
                 <td>
                   <%=date_field_tag :meeting_date %>
                 </td>
               </tr>
               <tr>
                 <td> Time:</td>
                 <td><%= time_field_tag :meeting_time  %></td>
              </tr>
              <tr>
                <td>Venue:</td>
                <td><%=text_area_tag :venue %></td>
              </tr>
              <tr>
                <td>Notes:</td>
                <td><%=text_area_tag :notes%></td>
              </tr>
              <tr>
                <td>Assigned to :</td>
                <td><%=  select_tag "assigned_to", options_for_select(@user.collect{ |u| [ u.email,u.id]})%></td>
              </tr>
              <%#binding.pry%>
              <%= hidden_field_tag :id , params[:id]%>
              <tr>
              <td></td>
               <td> <%= submit_tag 'Submit' %></td>
              </tr>
            </table>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
