<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Accounts</h3>
    <div class="row">
        <div class="col-md-12">
        </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <%= form_tag("/create_contract") do %>
            <table class="table">
              <tr>
          	    <td>Client</td>
          	    <td><%=select_tag "client_id", options_for_select(@client.collect{ |u| [ "#{u.business} (#{u.contact_person}:#{u.number})",u.id]})%></td>
              </tr>
              <tr>
          	    <td>
          	  	  Domain
          	    </td>
          	    <td>
          	  	  <%=text_field_tag :domain_name %>
          	    </td>
              </tr>
              <tr>
          	    <td>
          	  	  Plan
          	    </td>
          	    <td>
                  <%= select_tag 'plan', options_for_select(AddContract::PLANS), :onchange => "plan_submit(this);",:include_blank=>"select"%>
          	    </td>                
              </tr>
           	  <tr>
          	    <td>
          	  	  Renewal date
          	    </td>
          	    <td>
          	  	  <%=text_field_tag :renewal_date%>
          	    </td>
              </tr>
          	  <tr>
          	    <td>
          	  	  Status
          	    </td>
          	    <td>
          	  	  <%=  select_tag 'status', options_for_select(AddContract::STATUS)%>
          	    </td>
              </tr>
              <tr>
                <td>
                  Work Status
                </td>
                <td>
                  <%=  select_tag 'work_status', options_for_select(AddContract::WORKSTATUS)%>
                </td>
              </tr>
              <tr>
                <td> <%=submit_tag%></td>
              </tr>
           	</table>
          <% end %>         
        </div>
        </div>
      </div>
    </div>
  </section>   
</section>
