<button type="button"  class="btn announce" data-toggle="modal" data-target="#myModal1" id="<%=id%>">
Update
</button>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Meeting status</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(update_meetings_path, :method=>'post', :multipart => true) do %>
        
          <table class="table">

            <tr>
            <h3>Current Minutes of meeting</h3>
              <td>Mom:</td>
              <td><%=text_area_tag :mom %></td>
            </tr>
            <%= hidden_field_tag :ss_id%>         
            </br>
            <div class="toggl">
              <tr>
                <td>
                  <h3>Schedule next meeting</h3>
                </td>
              </tr>
            <tr>

              <td>Date:</td>
              <td><%= date_field_tag "meeting_date" %></td>
            </tr>
            <tr>
              <td> Time: </td>
              <td><%= time_field_tag "meeting_time" %></td>
            </tr>
            <tr>
              <td> Venue</td>
              <td><%= text_area_tag "venue", "", :size=>"20x5" %></td>
            </tr>
            <tr>
              <td> Notes</td>
              <td><%= text_area_tag "notes", "", :size=>"20x5" %></td>
            </tr>
            <tr>
              <td> Assigned to:</td>
              <td><%= select_tag "assigned_to", options_from_collection_for_select(User.all, "id", "email"),:class=>"form-control",:style=>"width:30%"%></td>
            </tr>
            <%= hidden_field_tag :daily_update_id %>
            <tr>
              <td></td>
              <td class="a"><%= submit_tag 'Save Only Mom',:class=>"btn btn-primary",:id=>"mom" %> <%= submit_tag 'Save both' ,:class=>"btn btn-primary ",:id=>"both"%></td>
            </tr>
          </table>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<script>
   $(".announce").click(function(){

     $('#ss_id').val($(this).attr('id'));
      $.ajax('/fetch_daily',{
      type: 'get',
        dataType: 'html',
        data: {daily_up: $(this).attr('id')},
        success: function(data, textStatus, jqXHR)
          {
           $('#daily_update_id').val(data);
          }
    });

   });
</script>