<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Meetings</h3>
    <div class="row">
        <div class="col-md-12">
        </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
         <div>
            <%= form_tag(update_meetings_path, :method=>'post', :multipart => true) do %>
            <table class="table">
              <tr>
                 <td>
                   Date:
                 </td>
                 <td>
                   <%= format_date(@meeting.meeting_date)%>
                 </td>            
               </tr>
               <tr>
                 <td> Time:</td>
                 <td><%= @meeting.meeting_time.strftime("%I:%M%p") if @meeting.meeting_time.present? %></td> 
              </tr>
              <tr>
                <td>Venue:</td>
                <td><%= @meeting.venue %></td>
              </tr>
              <tr>
                <td>Notes:</td>
                <td><%= @meeting.notes %></td>
              </tr>
              <tr>
                <td>Assigned to :</td>
                <td><%= User.find(@meeting.assigned_to).name %></td>
              </tr>
               <tr>
                <td>Mom:</td>
                <td><%=text_area_tag :mom, @meeting.mom %></td>
              </tr>
   
              <%= hidden_field_tag :id , params[:id]%>
              <tr>
              <td></td>
               <td> <%= submit_tag 'Submit' %></td>
              </tr>
            </table>
          <% end %>
          <%= button_tag 'Schedule meeting',:class=>"togg"%>
          </br>
          <div class="toggl">
            <%= form_tag(schedule_meeting_path, :method=>'post', :multipart => true) do %>
           <table class="table">
           <tr>
             <td>Date:</td>
             <td><%= date_field_tag "meeting_date" %></td>
           </tr>
           <tr>
            <td> Time: </td>
             <td><%= time_field_tag "meeting_time" %></td>
           </tr>
           <tr>
            <td> Venue</td>
             <td><%= text_area_tag "venue", "", :size=>"20x5" %></td>
           </tr>
           <tr>
            <td> Notes</td>
             <td><%= text_area_tag "notes", "", :size=>"20x5" %></td>
           </tr>
           <tr>
            <td> Assigned to:</td>
             <td><%= select_tag "assigned_to", options_from_collection_for_select(User.all, "id", "email"),:class=>"form-control",:style=>"width:30%"%></td>
           </tr>
           <%= hidden_field_tag :daily_update_id , @meeting.daily_update_id%>
           <tr>
           <td></td>
             <td><%= submit_tag 'Submit' %></td>
           </tr>
           </table>
          <% end %> 
          </div>
          <%= link_to "Back",meetings_path%> 
          </div>
        </div>
      </div>
    </div>
  </section>   
</section>
 
<script>
  $( document ).ready(function() {
   $( ".toggl" ).hide();
  });
$( ".togg" ).click(function() {
  $( ".toggl" ).show();
});
 </script>

