<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Accounts</h3>
    <div class="row">
        <div class="col-md-12">
        </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <%= form_tag("/update_contract") do %>
          <%@client=DailyUpdate.includes(:lead_status).where('lead_statuses.state =?', 'Client').references(:lead_status)%>
            <table class="table">
              <tr>
          	    <td>Client</td>
          	    <td><%=select_tag "client_id", options_for_select(@client.collect{ |u| [ "#{u.business}(#{u.contact_person}:#{u.number})",u.id]},@contract.client_id)%></td>
              </tr>
              <tr>
          	    <td>
          		    Domain
          	    </td>
          	    <td>
          		    <%=text_field_tag :domain_name ,@contract.domain_name%>
          	    </td>
              </tr>
              <tr>
          	    <td>
          		    Plan
          	    </td>
          	    <td>
          		  <%= select_tag 'plan', options_for_select(AddContract::PLANS,@contract.plan), :onchange => "plan_submit(this);"%>
          	    </td>
          		</tr>
           	 <tr>
          	    <td>
          		    Renewal date
          	    </td>
          	    <td>
          		    <%=text_field_tag :renewal_date,format_date(@contract.renewal_date.to_date) %>
          	    </td>
             </tr>
          	<tr>
          	  <td>
          		  Status
          	  </td>
          	  <td>
          		   <%=  select_tag 'status', options_for_select(AddContract::STATUS,@contract.status)%>
          	  </td>
          	  <%=hidden_field_tag :id,params[:id]%>
            </tr>
            <tr>
              <td>
                <%=submit_tag"save"%>
              </td>
            </tr>
          </table>
        <% end %>         
        </div>
      </div>
    </div>
  </section>   
</section>
