<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Listing Contracts</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <div style="float:right;"><%= link_to 'New Contract', new_contract_path , :class=>"btn btn-primary",:style=>"margin-right:10px"%></div>
          <table class='table'>
            <thead>
              <tr>
                <th>Client</th>
                <th>Domain name</th>
                <th>Renewal date</th>
                <th>Plan</th>
                <th>Status</th>
                <th colspan="3">actions</th>
              </tr>
            </thead>
          
            <tbody>
              <% @contracts.each do |contract| %>
                <tr>
                  <td><%= DailyUpdate.find(contract.client_id).contact_person %></td>
                  <td><%= contract.domain_name %></td>
                  <td><%= contract.renewal_date %></td>
                  <td><%= contract.plan %></td>
                  <td><%= contract.status %></td>
                 <td><%= link_to 'Update contract', edit_contract_path(:id=>contract) %>
                 <td><%= link_to 'Payment history' ,payment_history_path(:id=>contract.id)%>
                 </td>
                </tr>
              <% end %>
          
            </tbody>
          </table>
              
          </div>
        </div>
      </div>
    </div>
  </section>   
</section>