<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Listing Contracts</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel" style="width:1000px">
        <%= search_form_for @search, :html=>{:class=>"form-inline", :role=>"form" , mothod: 'post'} do |f| %>
          <%if params[:q].present?%>
            <%= f.label :client_name ,:class=>"f-label" %>
            <%= f.text_field :daily_update_contact_person_cont ,:class=>'form-control',:value=>params[:q][:daily_update_contact_person_cont]%>
            <%= f.label :domain_name ,:class=>"f-label"%>
            <%= f.text_field :domain_name_cont ,:class=>'form-control',:value=>params[:q][:domain_name_cont]%>
            <%= f.label :plan, "Plan" ,:class=>"f-label"%>
            <%= f.select :plans_plan_type_eq ,(AddContract::PLANS), {:include_blank=>"select"},:class=>'form-control',:value=>params[:q][:plans_plan_type_eq]%>
            <%= f.label :status, "Status" ,:class=>"f-label"%>
            <%= f.select :status_eq ,(AddContract::STATUS), {:include_blank=>"select"},:class=>'form-control',:value=>params[:q][:status_eq]%></br>
            </br>
             <%= f.label :priority, "Priority" ,:class=>"f-label"%>
            <%= f.select :priority_eq ,(AddContract::PRIORITY), {:include_blank=>"select"},:class=>'form-control',:value=>params[:q][:status_eq]%>            
            <%= f.label :work_status, "Work status",:class=>"f-label" %>
            <%= f.select :work_status_eq ,(AddContract::WORKSTATUS), {:include_blank=>"select"},:class=>'form-control',:value=>params[:q][:work_status_eq]%>
            <%= f.label :renewal_date_gteq, "Filter By Date" ,:class=>"f-label"%>
            <%= f.date_field :plans_renewal_date_gteq ,:class=>'form-control',:value=>params[:q][:plans_renewal_date_gteq]%>
            <%= f.label :renewal_date_lteq, "and" %>
            <%= f.date_field :plans_renewal_date_lteq,:class=>'form-control' ,:value=>params[:q][:plans_renewal_date_lteq]%>
          <%else%>
            <%= f.label :client_name ,:class=>"f-label" %>
            <%= f.text_field :daily_update_contact_person_cont ,:class=>'form-control'%>
            <%= f.label :domain_name ,:class=>"f-label"%>
            <%= f.text_field :domain_name_cont ,:class=>'form-control'%>
            <%= f.label :plan, "Plan" ,:class=>"f-label"%>
            <%= f.select :plans_plan_type_eq ,(AddContract::PLANS), {:include_blank=>"select"},:class=>'form-control'%>
            <%= f.label :status, "Status" ,:class=>"f-label"%>
            <%= f.select :status_eq ,(AddContract::STATUS), {:include_blank=>"select"},:class=>'form-control'%></br>
            </br>
            <%= f.label :priority, "Priority" ,:class=>"f-label"%>
            <%= f.select :priority_eq ,(AddContract::PRIORITY), {:include_blank=>"select"},:class=>'form-control'%>
            <%= f.label :work_status, "Work status",:class=>"f-label" %>
            <%= f.select :work_status_eq ,(AddContract::WORKSTATUS), {:include_blank=>"select"},:class=>'form-control'%>
            <%= f.label :renewal_date_gteq, "Filter By Date" ,:class=>"f-label"%>
            <%= f.date_field :plans_renewal_date_gteq ,:class=>'form-control'%>
            <%= f.label :renewal_date_lteq, "and" %>
            <%= f.date_field :plans_renewal_date_lteq,:class=>'form-control' %>
          <%end%>
          <div class="actions" align="center"><%= f.submit "Search" %></div>
        <% end %>
          <div style="float:right;"><%= link_to 'New Contract', new_contract_path , :class=>"btn btn-primary",:style=>"margin-right:10px"%></div>
            <h4>There are total <%=@contracts.count%> contracts</h4>
          <table class='table'>
            <thead>
              <tr>
                <th>S. no</th>
                <th>Client</th>
                <th>Domain name</th>
                <th>Start Date</th>
                <th>Renewal date</th>
                <th>Days</th>
                <th>Plan</th>
                <th>Status</th>
                <th> Work Status</th>
                <th> Priority</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>          
            <tbody>
            <%s_no=0%>
              <% @contracts.each do |contract| %>
                <tr>
                  <td><%=s_no=s_no+1%></td>
                  <td><%= DailyUpdate.client(contract.daily_update_id).contact_person %></td>
                  <td><%= contract.domain_name %></td>
                   <td><%= format_date(contract.created_at) %></td>
                  <td style="width:100px"><%= format_date(contract.plans.last.renewal_date.to_date) if contract.plans.last.renewal_date.present? if contract.plans.present?%></td>

                  <td><%=(Date.today-contract.created_at.to_date).to_i%></td>
                  
                  <td><%= contract.plans.last.plan_type if contract.plans.present?%></td>
                  <td><%= contract.status %>
                    <%if contract.status=="expired"%>
                      <%= button_to "Notify", notify_expiry_path(:id=>contract.daily_update_id,:contract_id=>contract.id)%>
                    <%end%>
                  </td>                  
                   <td><%= contract.work_status %></td>
                   <td><%= contract.priority %></td>
                   <td><%= link_to 'Updates' ,contract_updates_path(:id=>contract.id)%></br><%= link_to 'Payment history' ,payment_history_path(:id=>contract.id)%></br><%=render  :partial=> "edit_contract", locals: {:id => contract.id}%>
                 
                 </td>
                </tr>
              <% end %>
            </tbody>
          </table>              
        </div>
      </div>
    </div>
  </section>   
</section>