<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Meetings</h3>
    <div class="row">
        <div class="col-md-12">
        </div>
      <div class="col-md-12 mt">
        <div class="content-panel" style="width:1000px;margin-left:-20px;">
          <%= search_form_for @search, url: meetings_path, :html=>{:class=>"form-inline", :role=>"form"} do |f| %>
            <%= f.label :schedule_meeting_meeting_date_gteq, "Filter By Date" ,:class=>"f-label" %>
          <%= f.date_field :schedule_meeting_meeting_date_gteq ,:class=>'form-control'%>
          <%= f.label :schedule_meeting_meeting_date_lteq, "and" %>
          <%= f.date_field :schedule_meeting_meeting_date_lteq,:class=>'form-control'%>
            <%= f.label 'Venue' ,:class=>"f-label"%>
            <%= f.text_field :schedule_meeting_venue_cont , :class=>'form-control'%>
            <%= f.label 'Meeting no' ,:class=>"f-label"%>
            <%= f.text_field :schedule_meeting_meeting_no_cont , :class=>'form-control'%>         
            <%if current_user.admin==true%>
              <%= f.label 'Assigned to' ,:class=>"f-label"%>
              <%= f.select :schedule_meeting_assigned_to_eq ,@user.map.each {|c| [c.name,c.id]} ,{:include_blank=>"select"},:class=>'form-control'%>
            <%end%>
            <div class="actions" align="center"><%= f.submit "Search" %></div>
          <% end %>
          <table class='table'>
            <thead>
              <tr>
                <th>Meeting no</th>
                <th>Meeting Date</th>
                <th>Meeting Time</th>
                <th>Client Details</th>
                <th>Venue</th>
                <th>Notes</th>
                <th>Assigned to</th>
                <th>status</th>
                <th>History</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <% sc_meeting(@meetings).sort_by(&:meeting_date).reverse.each do |meeting|%>
              <%if meeting.present?%>
                <tr>
                <td><%=meeting.meeting_no if meeting.meeting_no.present?%></td>
                  <td><%= format_date(meeting.meeting_date) if meeting.meeting_date.present? %></td>
                  <td><%= format_time(meeting.meeting_time) if meeting.meeting_time.present? %></td>
                  <td><%= meeting.daily_update.contact_person if meeting.daily_update.present?%></br><%= meeting.daily_update.business if meeting.daily_update.present?%></br><%=meeting.daily_update.number if meeting.daily_update.present?%></td>
                  <td style="width:20px"><%= meeting.venue %></td>
                  <td style="width:30px"><%= meeting.notes%></td>
                  <%if meeting.assigned_to.present?%>
                    <td><%= User.meeting(meeting.assigned_to).name %></td>
                  <%end%>
                  <td><%= meeting.mom%></td>
                  <td><%=render  :partial=> "logs", locals: {:id => meeting.daily_update.id}%></td>
                  <td><%=render  :partial=> "edit_meetings", locals: {:id => meeting.id}%></td>
                  <td> <%=render  :partial=> "update_status", locals: {:id => meeting.id}%></td>
                </tr>
              <%end %>              
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>   
</section>