<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Meetings</h3>
    <div class="row">
        <div class="col-md-12">
        </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
         <div>
            <table class="table">
              <tr>
                 <td>
                   Date:
                 </td>
                 <td>
                   <%=format_date( @meeting.meeting_date)%>
                 </td>            
               </tr>
               <tr>
                 <td> Time:</td>
                 <td><%= format_time(@meeting.meeting_time) if @meeting.meeting_time.present? %></td> 
              </tr>
              <tr>
                <td>Venue:</td>
                <td><%= @meeting.venue %></td>
              </tr>
              <tr>
                <td>Notes:</td>
                <td><%= @meeting.notes %></td>
              </tr>
              <tr>
                <td>Assigned to :</td>
                <td><%= User.find(@meeting.assigned_to).name %></td>
              </tr>
               <tr>
                <td>Business :</td>
                <td><%= @meeting.daily_update.business %></td>
              </tr>
              <tr>
                <td>Contact Person :</td>
                <td><%= @meeting.daily_update.contact_person %></td>
              </tr>
                <tr>
                <td>Contact number :</td>
                <td><%= @meeting.daily_update.number %></td>
              </tr>
              
              <%= hidden_field_tag :id , params[:id]%>
              <tr>
              <td></td>
              
              </tr>
            </table>
          </div>
          <%= link_to "Back",meetings_path%> 
          </div>
        </div>
      </div>
    </div>
  </section>   
</section>