<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Edit New User</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel" >
          <%= form_for(@user, url: admin_user_path , method: 'put') do |f| %>
            <div><%= f.label :name ,:class=>"f-label"%><br />
            <%= f.text_field :name,:class=>"form-control" ,:style=> 'width:30%; margin-left:10px;' %></div>
            <div><%= f.label :email,:class=>"f-label" %><br/>
            <%= f.email_field :email, autofocus: true ,:class=>"form-control" ,:style=> 'width:30%; margin-left:10px;'%></div>
            <div><%= f.label :role,:class=>"f-label" %><br/>
            <%= f.select :role, User::ROLES, {:include_blank=>"select"}, :class=>"form-control" ,:style=> 'width:30%; margin-left:10px;'%></div><br>
            <div><%= f.submit "Update", :class=>"btn btn-primary",:style=>"margin-left:10px;"  %></div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </section>   
</section>


