<%= form_for(@daily_update) do |f| %>
  <% if @daily_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_update.errors.count, "error") %> prohibited this daily_update from being saved:</h2>

      <ul>
      <% @daily_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.text_field :business , placeholder: 'Business'%>
  
    <%= f.text_field :contact_person  , placeholder: 'Contact Person'%>

    <%= f.text_field :number , placeholder: 'Number' %>

    <%= f.text_field :designation, placeholder: 'Designation' %>
 
    <%= f.text_field :status , placeholder: 'Status'%>
  
 
    <%= f.text_field :address, placeholder: 'Address' %>
 
    <%= f.text_field :email , placeholder: 'Email'%>
    <%= f.text_area :summary , placeholder: 'Summary'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
