<style type="text/css">
</style>
<%= form_for(@daily_update, :html=>{ :role=>"form"}) do |f| %>
  <% if @daily_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_update.errors.count, "error") %> prohibited this daily_update from being saved:</h2>
      <ul>
      <% @daily_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <table>
      <tr>
        <th class="f-label">Category</th>
        <th class="f-label">Business</th>
        <th class="f-label">Contact Person</th>
        <th class="f-label">Number</th>
        <th class="f-label">Designation</th>        
      </tr>
    <tr>
      <td class="f-label">
        <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] },{:include_blank => "select"}, :class=>"form-control " ,:style=> 'width:100%;'%>
      </td>
      <td class="f-label">
        <%= f.text_field :business , placeholder: 'Business', :class=>"form-control" %>
      </td>      
        <%= f.hidden_field :user_id ,value: current_user.id %>      
      <td class="f-label">
        <%= f.text_field :contact_person  , placeholder: 'Contact Person' , :class=>"form-control"%>
      </td>
      <td class="f-label">
        <%= f.text_field :number , placeholder: 'Number', :class=>"form-control" ,:style=> 'width:100%;'%>
      </td>
      <td class="f-label">
        <%= f.text_field :designation, placeholder: 'Designation', :class=>"form-control",:style=> 'width:100%;' %>
      </td>
    </tr>
    <tr>
      <th class="f-label">Address</th>
      <th class="f-label">Email</th>
      <% if @daily_update.status==nil%>
      <%else%>
      <th class="f-label" >Status</th>
       <th class="f-label">Schedule next call</th>
        <th class="f-label">Schedule time</th>
      <th class="f-label" >Comment</th>
      <%end%>
    </tr>
    <tr>
      <td class="f-label">
       <%= f.text_field :address, placeholder: 'Address', :class=>"form-control" %>
      </td>
      <td class="f-label">
       <%= f.text_field :email , placeholder: 'Email', :class=>"form-control"%>
      </td>

      <% if @daily_update.status==nil%>
       <%= f.hidden_field :status , value:0%>
      <%else%>
      <td class="f-label">
        <%= f.fields_for :lead_status, @daily_update.lead_status.build do |q| %>
          <%= q.select :state, LeadStatus::PERSON_TYPES, {:include_blank=>"select"}, :class=>"form-control" ,:style=> 'width:100%;'%>
        </td>
        <td class="f-label">
          <%= q.date_field :schedule_next_call,  :class=>"form-control" %>
        </td>
         <td class="f-label">
          <%= q.time_field :schedule_next_call_time,  :class=>"form-control" %>
        </td>        
        <td colspan='3' class="f-label">
          <%= q.text_area :comment, placeholder: 'comment', :class=>"form-control" , :cols => 50,:style=>"margin-top:20px;" %>
        </td>
          <%= q.hidden_field :user_id, value: current_user.id%>                 
        <% end %>
        <%end%>
  </tr></table>

  </div>
  <div class="actions" align="center">
    <%= f.submit  " Submit " , :class=>"btn btn-default"%>
  </div>
<% end %>
