
<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Listing Records</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <%= search_form_for @search, :html=>{:class=>"form-inline", :role=>"form"} do |f| %>
           <%= f.label 'Filter By Date' , :class=>'f-label'%>
           <%= f.date_field :created_at_eq , :class=>'form-control'%>
           <%= f.label 'Business', :class=>'f-label'%>
           <%= f.text_field :business_cont , :class=>'form-control'%>
           <%= f.label 'Contact Number', :class=>'f-label'%>
           <%= f.text_field :number_cont , :class=>'form-control'%></br>
           <%= f.label 'Category', :class=>'f-label'%>
           <%= f.select :category_id_eq ,Category.all.map.each {|c| [c.name,c.id]} ,{:include_blank=>"select"},:class=>'form-control'%>
           <%= f.label 'Added by', :class=>'f-label'%>
           <%= f.select :user_id_eq ,User.all.map.each {|c| [c.name,c.id]} ,{:include_blank=>"select"},:class=>'form-control'%>
           <%= f.label 'Contact Person', :class=>'f-label'%>
           <%= f.text_field :contact_person_eq , :class=>'form-control'%>
            <div class="actions" align="center"><%= f.submit "Search" %></div>
          <% end %>
          
          <div style="float:right;"><%= link_to 'New Record', new_daily_update_path , :class=>"btn btn-primary",:style=>"margin-right:10px"%></div>
          
          <table class='table'>
            <thead>
              <tr>
                <th>Business</th>
                <th>Contact person</th>
                <th>Number</th>
                <th>Designation</th>
                <th  colspan="2">Status</th>
                <th colspan="2">Comment</th>
                
                <th colspan="2" >Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @daily_updates.each do |daily_update| %>
                <% if daily_update.lead_status.present?%>
                  <%#daily_update.lead_status.each do |lead|%>
                    <%if daily_update.lead_status.last.state.present? && DailyUpdate.find(daily_update.id).lead_status.last.state !="Client" %>
                      <tr>
                        <td><%= daily_update.business %></td>
                        <td><%= daily_update.contact_person %></td>
                        <td><%= daily_update.number %></td>
                        <td><%= daily_update.designation %></td>
                     
                        <td colspan="2"><%= DailyUpdate.find(daily_update.id).lead_status.last.state %></td>
                        <td colspan="2"><%= DailyUpdate.find(daily_update.id).lead_status.last.comment %></td>
                        <td colspan="2" id="<%=daily_update.id%>"><%=render  :partial=> "call", locals: {:id => daily_update.id}%>|<%= link_to 'Show', daily_update %> | <%= link_to 'Update record', edit_daily_update_path(daily_update) %></td>
                      </tr>
                    <%end%>
                  <%#end%>
                  <%else%>
                   <tr>
                  <td><%= daily_update.business %></td>
                  <td><%= daily_update.contact_person %></td>
                  <td><%= daily_update.number %></td>
                  <td><%= daily_update.designation %></td>
                  <td colspan="2"><%#= daily_update.status %></td>
                  <td colspan="2"><%#= daily_update.summary %></td>
                  <td colspan="2"><%=render  :partial=> "call", locals: {:id => daily_update.id}%>|<%= link_to 'Show', daily_update %> | <%= link_to 'Update record', edit_daily_update_path(daily_update) %></td>
                </tr>
                <%end%>
              <% end %>
            </tbody>
          </table>
          <%= paginate @daily_updates %>
        </div>
      </div>
    </div>
  </section>   
</section>


