          <table class='table'>
            <thead>
              <tr>
              <th>S.no</th>
              <th>Meeting no</th>
                <th>Meeting Date</th>
                <th>Meeting Time</th>
                <th>Venue</th>
                <th>Mom</th>
              </tr>
            </thead>
            <tbody>
            <%s_no1=0%>
              <% @meetings.each do |meeting| %>              
                <tr>
                <td><%=s_no1=s_no1+1%></td>
                  <td><%=meeting.meeting_no%></td>
                  <td><%= format_date(meeting.meeting_date) if meeting.meeting_date.present? %></td>
                  <td><%= format_time(meeting.meeting_time) if meeting.meeting_time.present? %></td>
                  <td style="width:20px"><%= meeting.venue %></td>
                  <%if meeting.mom.present?%>
                    <td><%= meeting.mom%></td>
                  <%else%>
                    <%if meeting.meeting_date.present?%>
                      <%if meeting.meeting_date<Date.today%>
                        <td style="color:red"> Status missing</td>
                      <%else%>
                        <td style="color:green">Future meeting</td>
                      <%end%>
                    <%end%>
                  <%end%>
                  <td><%=link_to 'update status',edit_meetings_path(:id=>meeting.id)%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
       