<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Scheduled calls</h3>
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-12 mt">
        <div class="content-panel">
          <table class="table">
            <th>Buisness</th>
            <th>Contact Person</th>
            <th>Contact number</th>
            <th>Scheduled call</th>
            <th></th>
            <th>Actions</th>
            <%@records.each do |record|%>
              <%record.lead_status.each do |lead|%>
                <tr>
                  <%if lead.schedule_next_call.present?%>
                    <td><%=lead.daily_update.business%></td>
                    <td><%=lead.daily_update.contact_person%></td>
                    <td><%=lead.daily_update.number%></td>
                    <td><%=format_date(lead.schedule_next_call)%></td>
                    <td><%=lead.schedule_next_call_time.strftime('%I:%M%p') if lead.schedule_next_call_time.present?%></td>
                    <td><%= link_to 'Update record', edit_daily_update_path(lead.daily_update) %></td>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          </table>
        </div>
      </div>
    </div>
  </section>   
</section>