<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Lead Management System</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %> 
  </head>

  <body>
    <%if current_user.present?%>
      <%= render 'layouts/header'%>
      <%= render 'layouts/sidebar'%>
    <%end%>
    <div class="container" >
      <div class="row">
          <div class="notice" style="margin-top:50px;"><%= notice %></div>
          <div class="alert" style="margin-top:50px;"><%= alert %></div>
          <%= yield %>
      </div>
      <hr>
      <%if current_user.present?%>
        <%=render 'layouts/footer'%>
      <%end%>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   </body>
</html>
